<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <title>About</title>
  </head>
  <body>
    <div id="content">
      <h1>welcome to Home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur error
        aut illo dolorum eveniet voluptatum atque! Sint dolore architecto
        repellat vero voluptate perferendis, delectus sapiente quisquam.
        Repellendus voluptas magni exercitationem ullam sequi!
      </p>
    </div>
  </body>
</html>
